@use "partials/variables" as *;
@use "partials/mixins" as *;
@use "partials/global" as *;

* {
    overflow-x: hidden;
}

html {
    margin: 0;
}

body {
    margin: 0;
    font-family: $font-family-avenir-p-h3;
    padding: 0;
    color: $color-bandsiteblack;
}

.header {
    width: 100%;

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        background-color: $color-bandsiteblack;

        @include tablet {
            display: flex;
            flex-direction: row;
            height: 100%;
            padding: 1.25rem;

        }
    }

    &__logo-link {
        display: block;
        text-align: center;

        @include tablet {
            width: 43%;

        }
    }

    &__logo {
        width: 12.5rem;
        height: auto;
        padding-top: 1rem;
        margin-top: 1.25rem;

        @include tablet {
            width: 60%;

        }

    }

    &__title {
        color: $color-white;
        padding: 6.25rem 1.25rem;
        text-align: left;
        background: url(/assets/images/hero-bio.jpg) no-repeat center center;
        background-size: cover;
        width: auto;
        margin: 0;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(50, 50, 50, 0.5);
            z-index: 0;
        }

        h1 {
            position: relative;
            z-index: 2;
        }

        @include tablet {
            margin: 0;
            height: 45vh;
        }
    }
}


.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;

    &__list {
        display: flex;
        list-style: none;
        padding: 0;
        gap: 1.875rem;
        width: 100%;
        justify-content: space-around;

        @include tablet {
            gap: 3.125rem;
            justify-content: left;
            position: relative;
            top: 1.0625rem;
        }
    }

    &__link {
        text-decoration: none;
        font-size: $font-size-quote;
        color: $color-mercury;
        position: relative;
        display: inline-block;
        border-bottom: 0.3125rem solid transparent;

        @include tablet {
            font-size: $font-size-quote2-desktop;
        }

        &--active {
            font-weight: bold;
            color: $color-white;
        }

        &:hover {
            border-bottom: 0.3125rem solid $color-white;
            padding-bottom: 0.625rem;
            color: $color-white;
        }
    }
}

.about {
    padding: 1rem 1rem 0 1rem;

    @include tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__image {
        width: 100%;
        height: auto;
        margin: 1.25rem 0;

        @include tablet {
            width: 73%;
        }

        @include desktop {
            width: 56%;
        }
    }

    &__title {
        margin: 0;
        padding: 1.5rem 0;

        @include tablet {
            align-self: flex-start;
            padding-left: 3rem;
        }
    }

    &__title-band {
        @include tablet {
            display: flex;
            align-self: flex-start;
            padding-left: 6.4375rem;
        }

        @include desktop {
            padding-left: 19.6875rem;

        }
    }

    &__quote-2 {
        @include tablet {
            display: flex;
            align-self: flex-start;
            padding-left: 6.1875rem;
        }

        @include desktop {
            padding-left: 19.875rem;
            
        }

    }
}

.band__description {
    @include tablet {
        column-count: 2;
        column-gap: 3.375rem;
        padding-left: 6.5625rem;
        padding-bottom: 1.25rem;
    }

    @include desktop {
        width: 63%;
    }
}

.gallery {
    background-color: $color-alabaster;
    margin: 0;

    @include tablet {
        padding: 2.875rem;
    }

    &__title {
        text-align: left;
        padding: 2.5rem 1rem 0;

        @include tablet {
            margin-top: 0;
            padding-left: 1.5rem;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }

    &__image {
        text-align: center;
        margin: 0;
        padding: 1rem;
        width: 100%;
        height: auto;
        max-width: 100%;
        box-sizing: border-box;

        @include tablet {
            width: 32%;
            margin: -0.75vw 0;
        }
    }
}

.footer {
    background-color: $color-bandsiteblack;
    color: $color-white;
    padding: 1rem;

    @include tablet {
        padding: 3.8125rem;
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
    }

    @include desktop {
        display: flex;
        flex-direction: column;

    }

    p {
        line-height: 1.875rem;
    }

    &__logo {
        width: 20%;

        @include desktop {
            width: 10%;
        }

    }

    &__title {
        @include tablet {
            display: flex;
            position: relative;
            top: -4rem;
        }

        @include desktop {
            display: flex;
        }
    }

    &__social-icons {
        display: flex;
        justify-content: flex-start;
        gap: 2.5rem;
        margin: 2.5rem 0;

        @include tablet {
            display: flex;
            justify-content: center;
            position: relative;
            top: -10.375rem;
            left: -1.75rem;

            @include desktop {
                display: flex;
                justify-content: normal;
                padding-left: 18.8125rem;
                gap: 1.375rem;

            }

        }
    }

    &__social-icon {
        width: 2.625rem;
        height: 2.625rem;

        @include tablet {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    &__container {
        &--title {
            font-family: $font-family-avenir-h1-h2-quote-tablet;

            @include tablet {
                font-size: 1.0625rem;
            }
        }
    }

    &__containers {
        @include tablet {
            display: flex;
            position: relative;
            top: -10.1875rem;
            justify-content: flex-start;
            gap: 0.5rem;
        }

        @include desktop {
            gap: 2.5rem;
        }
    }

    &__container p {
        @include tablet {
            font-size: $font-size-p-tablet;
        }

    }

    &__email {
        padding: 1.875rem 0;
    }

    &__copyright {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        @include tablet {
            position: relative;
            top: -11.4375rem;

        }

        #copywright {
            font-size: $font-size-quote2-desktop;
            margin: 1.625rem 0;
            margin-bottom: 0;

            @include tablet {
                font-size: $font-size-p-tablet;
            }
        }
    }

    &__logo-link {
        &--mobile {
            @include tablet {
                display: none;
            }
        }

        &--tablet {
            display: none;

            @include tablet {
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}





